
<!DOCTYPE html>
<html>
<head>
	<title>Seller Form Submission</title>
	<script src="../asset/login.js"></script>

</head>
<body style="background-color:skyBlue;">
		<form method="post" action="../controller/loginCheck.php" onsubmit="return validate();" enctype="">
			<fieldset>
				<legend><h1>Seller Login</h1></legend>
				<table>
					<tr>
						<td>User Id</td>
						</tr>
						<tr>
						<td><input type="text" name="id" id="id" value=""></td>
					</tr>
					<tr>
						<td>Password</td></tr>
						<tr>
						<td><input type="password" name="password" id="password" value=""></td>
					</tr>
					
					
					<tr>
						<tr>
							<td>
								<hr>
							</td>
						</tr>
						<td>
							<input type="submit" name="" value="Login">
							<a href="signup.html"> Register </a>
						</td>
					</tr>
				</table>
			</fieldset>
		</form>
		
</body>
</html>
</body>
</html>